<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rui Application</title>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'backbone/r' %>
</head>
<body>
  <div id="menu">
    <button class="register">Registrar</button>
  </div>

  <script>
    new R.Views.Menu;
  </script>
</body>
</html>
